<!doctype html>
<html lang="en">

<!-- Mirrored from themeforesight.netlify.app/companies.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:18 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Orders</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="/img/favicon.ico">

  <!-- Theme styles -->
  <link rel="stylesheet" type="text/css" href="/css/theme.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="../cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor -->
  <link rel="stylesheet" type="text/css" href="/css/vendor.min.css">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJNV6J8RHQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JJNV6J8RHQ');
  </script>
</head>

<body>
  <nav class="navbar navbar-vertical navbar-expand-lg navbar-light bg-white" role="navigation">
    <div class="container-fluid">
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/admin">
        Admin panel
      </a>

      <div class="dropdown d-flex d-lg-none">
        <a href="#" data-bs-toggle="dropdown">
          <span class="avatar">
            <img src="/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="profile.html">My profile</a>
          <a class="dropdown-item" href="account.html">Account settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="sign-in.html">Log out</a>
        </div>
      </div>

      <div class="collapse navbar-collapse mt-md-2" id="navbar-collapse">
        <ul class="navbar-nav" id="sidebar-nav">
          <li class="nav-item">
            <a href="/admin/panel" class="nav-link" aria-expanded="" aria-controls="sidebar-blogs">
              <span class="svg-icon text-primary me-2 relative-top--2">
                <i class="fa-solid fa-chart-line"></i>
              </span>
              Dashboards
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/customers" class="nav-link" aria-expanded="true" aria-controls="sidebar-subs">
              <span class="svg-icon text-primary me-2 relative-top--2">
                <i class="fa-solid fa-person"></i>
              </span>
              Customers
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/products" class="nav-link" aria-expanded="" aria-controls="sidebar-pages">
              <span class="svg-icon text-primary me-2 relative-top--2">
                <i class="fa-solid fa-shirt"></i>
              </span>
              Products
            </a>
          </li>

          <li>
            <a href="/admin/category" class="nav-link" aria-expanded="" aria-controls="sidebar-pages">
                <span class="svg-icon text-primary me-2 relative-top--2">
                  <i class="fa-solid fa-mars-double"></i>
                </span>
                Category
              </a>
          </li>
          <li class="nav-item">
            <a href="#sidebar-auth" class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="sidebar-auth">
              <span class="svg-icon text-primary me-2 relative-top--1">
                <i class="fa-solid fa-images"></i>
              </span>
              Banners
              <i class="fas fa-chevron-down fa-xs collapse-icon ms-auto"></i>
            </a>
            <div class="collapse" id="sidebar-auth" data-bs-parent="#sidebar-nav">
              <ul class="nav nav-sm flex-column fw-bold">
                <li class="nav-item">
                  <a href="/admin/main-banner" class="nav-link">
                    Main
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/gendered-banner" class="nav-link">
                    Gendered
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/instagram-banner" class="nav-link">
                    Instagram
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="/admin/orders" class="nav-link active" aria-expanded="" aria-controls="sidebar-pages">
                <span class="svg-icon text-primary me-2 relative-top--2">
                  <i class="fa-solid fa-truck"></i> 
                </span>
                Orders
              </a>
          </li>
          <li>
            <a href="/admin/coupons" class="nav-link" aria-expanded="" aria-controls="sidebar-pages">
                <span class="svg-icon text-primary me-2 relative-top--2">
                    <i class="fa-solid fa-tag"></i>
                </span>
                Coupon
              </a>
          </li>
        </ul>

        <a href="/admin/logout" class="btn btn-light btn-sm d-none d-lg-block mt-2 mt-lg-auto mb-5 bg-transparent" style="transform: rotateY(180deg);">
          <span class="svg-icon text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-j</title><path d="M176,176V136a40,40,0,0,1,40-40H424a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H216a40,40,0,0,1-40-40V336" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="272 336 352 256 272 176" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="48" y1="256" x2="336" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
          </span>
        </a>
      </div>
    </div>
  </nav>


  <div class="main-content">
    <div class="container-fluid mt-4 pt-2 mb-6">
      <!-- header -->
      <div class="d-md-flex align-items-center">
        <h3 class="mb-3 mb-md-0">
          Orders
        </h3>
      </div>

      <!-- filters -->
      <ul class="nav nav-tabs nav-overflow mt-3 mt-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#!">
            All
            <span class="badge bg-purple rounded-pill ms-1"><%=count%></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">
            recent
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">
            rejected
          </a>
        </li>
      </ul>

      <!-- report -->
      <div id="companies" class="card mt-4">
        <div class="card-header">
          <form class="flex-grow-1 pe-3">
            <div class="input-group input-group-flush pt-2">
              <div class="input-group-text ps-0">
                <i class="fas fa-search relative-top--2"></i>
              </div>
              <input type="search" class="search form-control" placeholder="Search...">
            </div>
          </form>

          <div class="ms-auto mt-2 mt-md-0">
            <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-bs-toggle="dropdown">
              <i class="svg-icon svg-icon-sm me-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><title>ionicons-v5-n</title><path d="M35.4,87.12,204.05,283.56A16.07,16.07,0,0,1,208,294V413.32a7.93,7.93,0,0,0,5.39,7.59l80.15,26.67A7.94,7.94,0,0,0,304,440V294A16.07,16.07,0,0,1,308,283.56L476.6,87.12A14,14,0,0,0,466,64H46.05A14,14,0,0,0,35.4,87.12Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
              </i>

              Filter
            </button>

            <div class="dropdown-menu dropdown-menu-card shadow-light">
              <div class="card-header">
                <div class="card-header-title">
                  Filters
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center justify-content-between px-4">
                    <span>
                      Location
                    </span>
                    <select class="form-select form-select-sm w-auto">
                      <option>America</option>
                      <option>Europe</option>
                      <option>Asia</option>
                      <option>Africa</option>
                      <option>Oceania</option>
                    </select>
                  </li>
                  <li class="list-group-item d-flex align-items-center justify-content-between px-4">
                    <span>
                      Created at
                    </span>
                    <select class="form-select form-select-sm w-auto">
                      <option>Last week</option>
                      <option>This year</option>
                      <option>Last year</option>
                    </select>
                  </li>
                </ul>
              </div>
              <a href="#!" class="card-footer-btn btn btn-purple justify-content-center">
                Apply filter
              </a>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-sm card-table table-nowrap">
            <thead>
              <tr class="fw-bold text-center">
                <th>&nbsp;</th>
                <th>
                  Order Id
                </th>
                <th>
                  Order status
                </th>
                <th>
                  Payment status
                </th>
                <th>
                  Ordered at
                </th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody class="list">
              <% orders.forEach((order) => { %>
              <tr class="fw-bold text-center">
                <td class="w-10">
                  <div class="row">
                    <% order.orderItems.forEach(item => { %>
                        <img class="col-6 p-0" width="100%" src="<%=item.productId['images'][1]%>">
                    <% }); %>
                  </div>
                </td>

                <td class="text-danger">
                  <%=order.orderId%>
                </td>

                <% if (order.orderStatus === "confirmed" || order.orderStatus === "delivered") { %>
                  <td class="text-success">
                    <%= order.orderStatus %>
                  </td>
                
                <% } else { %>
                  <td class="text-danger">
                    <%= order.orderStatus %>
                  </td>
                <% } %>

                <td>
                  <%= order.paymentStatus %>
                </td>

                <% const orderedAt = order.orderDate %>
                <% const dayIndex = orderedAt.getDay(); %>
                <% const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>
                <% const day = daysOfWeek[dayIndex]; %>

                <% const monthIndex = orderedAt.getMonth(); %>
                <% const monthsOfYear = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                <% const month = monthsOfYear[monthIndex]; %>

                <% const date = orderedAt.getDate(); %>
                <% const year = orderedAt.getFullYear() %>

                <% const orderDate = `${day} ${date} ${month} ${year}`; %>
                <td class="fs-sm text-muted">
                  <%=orderDate%>
                </td>

                <% if (order.orderStatus === "confirmed") { %>
                  <td class="d-flex flex-column">
                    <button onclick="cancelOrder('<%=order._id%>')" class="btn-danger btn-sm btn w-100">Cancel order</button>
                    <button onclick="deliverOrder('<%=order._id%>')" class="btn-success btn-sm btn w-100">Deliver order</button>
                  </td>
                <% } %>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>

        <div class="card-footer d-flex justify-content-center p-0">
          <ul class="nav-pagination">
            <% for (let i=1; i<Math.ceil(count/10); i++) { %>
              <li>
                <a class="page" href="#!"><%= i %></a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>

    <div class="list-alert alert alert-dark w-300 w-md-400 border-0 shadow-light-lg fade fixed-bottom start-50 translate-middle-x mb-4" role="alert" style="z-index: -1;">
      <div class="row align-items-center">
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" id="listAlertCheckbox" type="checkbox" checked onclick="return false;">
            <label class="form-check-label text-white relative-top-2 ms-1" for="listAlertCheckbox">
              <span class="list-alert-count">0</span> companies(s)
            </label>
          </div>
        </div>
        <div class="col-12 col-sm-auto ms-3 mt-3 mt-md-0">
          <button class="btn btn-sm btn-pastel-purple">
            Delete
          </button>
          <button class="btn btn-link list-alert-close btn-sm text-white">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- JAVASCRIPT
  ============================================-->

  <!-- Vendor -->
  <script src="/js/vendor.min.js"></script>


  <!-- Main Theme file -->
  <script src="/js/theme.min.js"></script>
  <script src="/js/axios.min.js"></script>

  <script type="text/javascript">
    $(function () {
      var options = {
        valueNames: [ 'item-name', 'item-location', 'item-ceo' ],
        page: 10,
        pagination: {
          paginationClass: 'nav-pagination'
        }
      };

      var companiesList = new List('companies', options);
    })

    async function cancelOrder(orderId) {
      const conf = window.confirm("Are you sure want to cancel this order?");
      if(!conf) {
        return;
      }
      try {
        const response = await axios.put('/cancel-order', {orderId}, {
          headers: {
            'Content-Type': 'application/json'
          }
        });
        if (response.status === 200) {
          alert(response.data.message);
          window.location.reload();
        }
      } catch(err) {
        alert(err.response?.data?.error || "Internal server error");
      }
    }

    async function deliverOrder(orderId) {
      const conf = window.confirm("Are you sure?");
      if(!conf) {
        return;
      }
      try {
        const response = await axios.put('/admin/deliver-order', {orderId}, {
          headers: {
            'Content-Type': 'application/json'
          }
        });
        if (response.status === 200) {
          alert(response.data.message);
          window.location.reload();
        }
      } catch(err) {
        alert(err.response?.data?.error);
      }
    }
  </script>
</body>

<!-- Mirrored from themeforesight.netlify.app/companies.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 01 Jul 2023 05:40:23 GMT -->
</html>
