<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zokso | Checkout</title>
    <link rel="shortcut icon" href="/img/zokso.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0//css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.0/dist/sweetalert2.min.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist//css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <style>
        #ordered {
            display: none;
            background-color: rgb(250, 250, 250);
            width: 30%;
            position: fixed;
            top: 25%;
            left: 35%;
            z-index: 12;
            border-radius: 12px;
            box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.493);
            padding: 3%;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="nav-item border-top border-white">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <ul class="depart-hover">
                            <li><a href="/shop?category=men">Men's Clothing</a></li>
                            <li><a href="/shop?category=kids">Kid's Clothing</a></li>
                            <li><a href="/shop?category=women">Women's Clothing</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="/shop?category=men">Men's</a></li>
                                <li><a href="/shop?category=women">Women's</a></li>
                                <li><a href="/shop?category=kids">Kid's</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/account"> <i class="fa-regular fa-user"></i> &nbsp; Account</a></li>
                        <li><a href="/user/logout"> <i class="fas fa-power-off"></i> &nbsp; Logout</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/home"><i class="fa fa-home"></i> Home </a>
                        <a href="/cart">Shopping cart</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form onsubmit="submitOrder(event)" class="checkout-form">
                <div class="row">
                    <div class="col-lg-6" id="addresses">
                        <div class="d-flex justify-content-between pb-2">
                            <h4 class="">Billing Address</h4>
                            <button type="button" onclick="addNewAddress()" class="border-0 bg-transparent"><i class="fa fa-plus-circle"></i> Add new</button>
                        </div>
                        <div class="border border-bottom-0 p-1">
                            <div class="border-bottom p-3" id="addressAtTop"></div>
                            <% user.address.forEach(address => { %>
                                <% if (address.defaulted === true) { %>
                                    <script>
                                        document.getElementById('addressAtTop').innerHTML =
                                        `
                                        <label>
                                        <strong class="text-capitalize"><%=address.addressType%></strong>
                                        <br>
                                        <%=address.customerName%>,
                                        <%=address.contactNumber%>,
                                        <%=address.street%>,
                                        <%=address.city%>,
                                        <%=address.pincode%>
                                        </label>
                                        <input style="width: 3%;" type="radio" value="<%=address._id%>" name="address" class="form-check" checked>
                                        `
                                    </script>
                                <% } else { %>
                                <div class="border-bottom p-3">
                                    <label>
                                        <strong class="text-capitalize"><%=address.addressType%></strong>
                                        <br>
                                        <%=address.customerName%>,
                                        <%=address.contactNumber%>,
                                        <%=address.street%>,
                                        <%=address.city%>,
                                        <%=address.pincode%>
                                    </label>
                                    <input style="width: 3%;" type="radio" value="<%=address._id%>" name="address" class="form-check">
                                </div>
                                <% } %>
                            <% }); %>
                            </div>
                    </div>
                    <div class="col-lg-6 d-none" id="addAddress">
                        <!-- <div class="checkout-content">
                            <a href="#" class="content-btn">Click Here To Login</a>
                        </div> -->
                        <h4>Biiling Details</h4>
                        <div class="row">
                            <div class="row col-lg-12 mb-2">
                                <div class="col-4">
                                    <label class="form-label">Home</label>
                                    <input class="w-auto" type="radio" name="addressType" value="home" checked>
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Office</label>
                                    <input class="w-auto" type="radio" name="addressType" value="office">
                                </div>
                                <div class="col-4">
                                    <label class="form-label">Other</label>
                                    <input class="w-auto" type="radio" name="addressType" value="other">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="name">Name</label>
                                <input type="text" name="customerName" id="name">
                            </div>
                            <div class="col-lg-12">
                                <label for="contact">Contact number</label>
                                <input type="text" name="contactNumber" id="contact">
                            </div>
                            <div class="col-lg-12">
                                <label for="house">Building/House number or Company name</label>
                                <input type="text" name="houseNumber" id="house">
                            </div>
                            
                            <div class="col-lg-12">
                                <label for="street">Street</label>
                                <input type="text" name="street" id="street">
                            </div>
                            <div class="col-lg-4">
                                <label for="town">Town/City</label>
                                <input type="text" name="city" id="town">
                            </div>
                            <div class="col-lg-4">
                                <label for="state">State</label>
                                <input type="text" name="state" id="state">
                            </div>
                            <div class="col-lg-4">
                                <label for="zip">Pincode</label>
                                <input type="text" id="zip" name="pincode">
                            </div>
                            <div class="col-lg-12">
                                <label for="landmark">Landmark <i>(optional)</i> </label>
                                <input type="text" id="landmark" name="landmark">
                            </div>
                            <div class="col-lg-12 d-flex justify-content-center">
                                <button type="button" class="btn-outline-dark border-0 p-2" onclick="cancelAddAddress()">cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="discount-coupon">
                            <h6>Coupon code &nbsp;<span id="couponInfo"></span></h6>
                            <div class="coupon-form">
                                <input style="text-transform: uppercase; color: rgb(58, 58, 58); font-weight: 700;" type="text" id="couponCode" placeholder="Enter your codes" name="couponCode">
                                <button onclick="checkCoupon()" type="button" class="site-btn coupon-btn">Apply</button>
                            </div>
                            
                        </div>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <% let total = 0; %>
                                    <li>Product <span>Total</span></li>
                                    <% user.cart.forEach(item => { %>
                                        <% total += (item.productId.price - ((item.productId.price * item.productId.category.categoryId.offer) / 100) - ((item.productId.price * item.productId.offer) / 100)) * item.quantity; %>
                                        <li class="fw-normal"><%= item.productId.productName %> &nbsp; <code>X</code> &nbsp;  <%= item.quantity %> <span>₹<%= (item.productId.price - ((item.productId.price * item.productId.category.categoryId.offer) / 100) - ((item.productId.price * item.productId.offer) / 100)) * item.quantity %></span></li>
                                    <% }); %>
                                    <li class="fw-bold">Subtotal <span>₹<%= total %></span></li>
                                    <li class="text-black">Delivery charge<span>₹40</span></li>
                                    <li id="couponLi" class="text-success"></li>
                                    <li class="total-price">Total <span class="text-success"> ₹<span class="text-success" id="totalValue"><%=total + 40%></span></span></li>
                                </ul>
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-wallet">
                                            Wallet
                                            <input value="walletPay" type="radio" id="pc-wallet" name="paymentMethod">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Razorpay
                                            <input value="razorpay" type="radio" id="pc-paypal" name="paymentMethod">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-cod">
                                            Cash on delivery
                                            <input type="radio" id="pc-cod" name="paymentMethod" value="cod" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="/img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <%- include('footer') %>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        function addNewAddress() {
            document.querySelectorAll('input[name="address"]').forEach(inp => {
                inp.disabled = true;
            });
            document.getElementById('addresses').classList.add('d-none');
            document.getElementById('addAddress').classList.remove('d-none');
        }
        function cancelAddAddress() {
            document.querySelectorAll('input[name="address"]').forEach(inp => {
                inp.disabled = false;
            });
            document.getElementById('addresses').classList.remove('d-none');
            document.getElementById('addAddress').classList.add('d-none');
        }


        async function razorPayment(data) {
            const apiKey = '<%=RazorApiKey%>';
            return new Promise((resolve, reject) => {
                const options = {
                    key: apiKey,
                    amount: data.totalAmount * 100,
                    currency: 'INR',
                    name: 'ZOKSO',
                    description: 'Order payment',
                    order_id: undefined,
                    handler: function (response) {
                        resolve(response);
                    },
                    theme: {
                        color: '#e7ab3c'
                    }
                };
                const rzp = new Razorpay(options);
                rzp.open();
            });
        }

        async function submitOrder(event) {
            event.preventDefault();
            const data = new FormData(event.target);
            try {
                const response = await axios.post('/make-order', data, {
                    headers:{
                        'Content-Type': 'application/json'
                    }
                });
                if (response.status === 200 && data.get('paymentMethod') === "razorpay") {
                    try {
                        const paymentResponse = await razorPayment(response.data.order);
                        const verifyResponse = await axios.post('/order/verify-payment', {paymentResponse, orderId: response.data.order._id}, {
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });
                        if (verifyResponse.status === 200) {
                            await Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Order successfull',
                                timer: 1500,
                            });
                            window.location.href = `/view-order/${verifyResponse.data.orderId}`;
                        } else {
                            await Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Payment failed',
                            });
                        }
                    } catch(err) {
                        await Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Payment failed',
                        });
                    }
                } else if (response.status === 200 && data.get('paymentMethod') === "cod") {
                    await Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Order successfull',
                        timer: 1500,
                    });
                    window.location.href = `/view-order/${response.data.order.orderId}`;
                } else if (response.status === 200 && data.get('paymentMethod')  === "walletPay") {
                    const result = await Swal.fire({
                        title: "Confirm payment",
                        text: `RS: ${response.data.order.totalAmount} will be debited from your wallet`,
                        icon: 'info',
                        showCancelButton: true,
                        confirmButtonColor: 'MediumSeaGreen',
                        cancelButtonColor: 'Tomato',
                        confirmButtonText: 'Pay amount'
                    });
                    try {
                        const verifyResponse = await axios.post('/order/verify-wallet', {result: result.isConfirmed, orderId: response.data.order['_id']}, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                        });
                        if (verifyResponse.status === 200) {
                            await Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Order successfull',
                                timer: 1500,
                            });
                            window.location.href = `/view-order/${verifyResponse.data.orderId}`;
                        }
                    } catch(err) {
                        if (err.response?.status === 400) {
                            await Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Insufficient balance',
                            });
                        } else {
                            await Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Internal server error',
                            });
                        }
                    }
                }
            } catch(err) {
                await Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                });
            }
        }

        const currTotal = document.getElementById('totalValue').textContent;

        async function checkCoupon() {
            document.getElementById('totalValue').textContent = currTotal;
            try {
                const totalAmount = document.getElementById('totalValue').textContent;
                const code = document.getElementById('couponCode').value;
                const response = await axios.post('/check-coupon', {couponCode: code, totalAmount}, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if (response.status === 200) {
                    document.getElementById('couponInfo').innerHTML = `<span class="text-success fw-bold">Coupon accepted</span>`;
                    document.getElementById('couponLi').innerHTML = `Coupon <span>₹${response.data.money}</span>`;
                    document.getElementById('totalValue').textContent = document.getElementById('totalValue').textContent - response.data.money;
                } else {
                    throw new Error();
                }
            } catch(err) {
                document.getElementById('couponInfo').innerHTML = `<span class="text-danger fw-bold">${err.response?.data?.error || 'invalid coupon'}</span>`;
            }
        }
    </script>
</body>

</html>