<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Zokso | Home</title>
    <link rel="shortcut icon" href="/img/zokso.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/home" style="line-height: 50%; text-align: right;">
                                <h3 style="color: #e7ab3c; font-weight: 700;">ZOKSO</h3>
                                <span style="font-weight: 700; color: rgb(71, 71, 71);">clothing</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form action="/shop" method="GET" class="input-group">
                                <input name="keyword" placeholder="What do you need?">
                                <button type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <% if (user) { %>
                        <ul class="nav-right">
                            <li>
                                <span>₹<%=user.wallet.balance%></span>
                                <a>
                                    <i class="fa-solid fa-wallet text-dark"></i>
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="/cart">
                                    <i class="icon_bag_alt"></i>
                                    <% if (user.cart.length > 0) { %>
                                        <span><%=user.cart.length%></span>
                                    <% } %>
                                </a>
                            </li>
                        </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>All departments</span>
                        <ul class="depart-hover">
                            <li><a href="/shop?category=men">Men's Clothing</a></li>
                            <li><a href="/shop?category=kids">Kid's Clothing</a></li>
                            <li><a href="/shop?category=women">Women's Clothing</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/home">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="/shop?category=men">Men's</a></li>
                                <li><a href="/shop?category=women">Women's</a></li>
                                <li><a href="/shop?category=kids">Kid's</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                        <% if (user) { %>
                            <li><a href="/account"> <i class="fa-regular fa-user"></i> &nbsp; Account</a></li>
                            <li><a href="/user/logout"> <i class="fas fa-power-off"></i> &nbsp; Logout</a></li>
                        <% } else { %>
                            <li><a href="/login"> <i class="fa-regular fa-user"></i> &nbsp; Login</a></li>
                            <li><a href="/register"> <i class="fa-regular fa-user"></i> &nbsp; Register</a></li>
                        <% } %> 
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <% mainBanner.forEach(banner => { %>
            <div class="single-hero-items set-bg" data-setbg="<%=banner.image%>">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span><%=banner.categoryName%></span>
                            <h1><%=banner.title%></h1>
                            <p class="text-capitalize"><%=banner.description%></p>
                            <a href="<%=banner.linkTo%>" class="primary-btn">Shop Now</a>
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Upto <span><%=banner.offer%>%</span></h2>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/shop?category=men">
                            <img src="<%=menCategory.images[0]%>" alt="">
                            <div class="inner-text">
                                <h4>Men’s</h4>
                            </div>
                        </a>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/shop?category=women">
                            <img src="<%=womenCategory.images[0]%>" alt="">
                            <div class="inner-text">
                                <h4>Women’s</h4>
                            </div>
                        </a>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/shop?category=kids">
                            <img src="<%=kidsCategory.images[0]%>" alt="">
                            <div class="inner-text">
                                <h4>Kid’s</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <% if (!user || user.gender === "female") { %>
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="<%=womenBanner.image%>">
                        <h2>Women’s</h2>
                        <a href="/shop?category=women">Discover More</a>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <a href="/shop?category=women">
                            <h4 class="fw-bold text-dark text-decoration-underline">Explore more like these</h4>
                        </a>
                    </div>
                    <div class="product-slider owl-carousel">
                        <% womenProduct.forEach(product => { %>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="<%=product.images[1]%>" alt="">
                                <!-- <div class="sale">Sale</div> -->
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/product/<%=product._id%>">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name"><%=product.category.categoryName%></div>
                                <a href="/product/<%=product._id%>">
                                    <h5><%=product.productName%></h5>
                                </a>
                                <div class="product-price">
                                    ₹<%= product.price - (product.price * (product.offer / 100)) - (product.price * (product.category.categoryId.offer / 100)) %>
                                    <% if (product.offer || product.category.categoryId.offer) { %>
                                        <span>₹<%= product.price %></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>

    <% if (!user || user.gender === "male") { %>
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">
                        <a href="/shop?category=men">
                            <h4 class="fw-bold text-dark text-decoration-underline">Explore more like these</h4>
                        </a>
                    </div>
                    <div class="product-slider owl-carousel">
                        <% menProduct.forEach(product => { %>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="<%=product.images[1]%>" alt="">
                                <!-- <div class="sale">20% offer</div> -->
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/product/<%=product._id%>">+ Quick View</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name"><%=product.category.categoryName%></div>
                                <a href="/product/<%=product._id%>">
                                    <h5><%=product.productName%></h5>
                                </a>
                                <div class="product-price">
                                    ₹<%= product.price - (product.price * (product.offer / 100)) - (product.price * (product.category.categoryId.offer / 100)) %>
                                    <% if (product.offer || product.category.categoryId.offer) { %>
                                        <span>₹<%= product.price %></span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="<%=menBanner.image%>">
                        <h2>Men’s</h2>
                        <a href="/shop?category=men">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>
    <!-- Man Banner Section End -->

    <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <% instagramBanner.forEach(banner => { %>
        <div class="insta-item set-bg" data-setbg="<%=banner.image%>">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="<%=banner.linkTo%>">zokso_clothing</a></h5>
            </div>
        </div>
        <% }); %>
    </div>
    <!-- Instagram Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <%- include('footer') %>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery.dd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>